<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. scikit-learn
4. matplotlib
5. seaborn
6. tensorflow

| Data Science Tools      |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| Visual Studio Code     |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [37]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [39]:

# This will convert 200 minutes to hours by diving by 60.
mins = 200
hrs = round((mins / 60),2)
hrs

3.33

**Objectives:** 

In this noteboodk we covered the following - 

- Some of the popular languages used that Data Scientists
- Some of the commonly used libraries used by Data Scientists
- Some of the popular toosl used by Data Scientists


## Author
Abhishek Dhall